/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}
