/* Styles specific to the movie_seats page */
.seat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 10px;
    justify-content: center;
}

.seat {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: white;
}

.seat.booked {
    background-color: red;
    cursor: not-allowed;
}

.seat.available {
    background-color: green;
    cursor: pointer;
}

.seat:hover.available {
    background-color: lightgreen;
}
