{% extends 'base.html' %}
{% load static %}

{% block title %}Cinema Application - Available Rooms{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/rooms.css' %}">
{% endblock %}

{% block content %}
    <h1>Available Rooms</h1>

    <div class="room-list">
        {% for room in rooms %}
            <div class="room-card">
                <a href="{% url 'room_movies' room.id %}">
                    <img src="https://via.placeholder.com/200x150.png?text=Room+{{ room.name }}" alt="{{ room.name }} image">
                    
                    <h3>{{ room.name }}</h3>
                </a>
            </div>
        {% empty %}
            <p>No rooms available</p>
        {% endfor %}
    </div>
{% endblock %}
